@tailwind base;
@tailwind components;
@tailwind utilities;


 /* GENERAL */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #798b66;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color:   #38452c; 
  text-decoration: inherit;
}
a:hover {
  cursor: pointer;
  color: #697c56;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 600;
  color: white
  /* color: #697c56; */
}

h2{
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 600;
  color: #697c56;
}

li{
  color: #2b2b2b;
  font-weight:400;
}

p{
  color: #2b2b2b;
  font-weight:400;
}


/* HEADER */
.logo img {
  max-width: 40px;
  height: auto;
}

/* PAGE RECIPES LIST */
.type{
  color: #7b7b7b;
  font-weight:400;
}
.card-list {
  margin: auto;
  margin-top: 2rem;
      max-width: 350px;
      max-height: 400px;
      min-height: 400px;
      background-color: white;
    } 
.filter{

    margin-right: 1rem;
    color: white; 
    border: 0.4px solid white;
    border-radius: 999px;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-selected{
  margin-right: 1rem;
  border-radius: 999px;
    height: 50px;
    width: 120px;
  background-color: white;
 color: #697c56; 
 display: flex;
 justify-content: center;
 align-items: center;
}

/* RECIPE DETAILS PAGE */
.card-detail{
  background-color: white;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 15px;
  max-width: 1000px;
  padding-bottom: 100px;
}

.title-detail{
color:#697c56
}

.back{
  font-size: 30px;
  margin-left: 10px;
}

/* ICONS */
.gluten-icon{
  font-size: 10px;
}

